*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    font-size: 1em;
    background-color: #E6E6E9;
    font-family: "Segoe UI", "Verdana", sans-serif;
}

header{
    width: 100%;
    height: 3em;
    padding: 1em;
    display: flex;
    align-items: center;
    background-color: #fff;
}

header p{
    margin-left: auto;
}

.ns-logo{
    width: 3.250em;
    height: 1.250em;
}

section{
    padding: 2%;
}

/*------------------------------------*\
  #OVERZICHTSPAGINA
\*------------------------------------*/
.overzicht main .background{
    height:24em;
    background-size: 100%;
    background-repeat:no-repeat;
    background-image: url("../img/bg.jpg");
}

.overzicht main .background section{
    height:24em;
    text-align: center;
    background-color: rgba(43, 119, 189, 0.7);
    transition: all 0.5s;
}

.overzicht main .background section select{
    width: 20%;
    height: 4rem;
    padding: 0.5em;
    font-weight: 300;
    font-size: 150%;
    margin-top: 2.5em;
}

.overzicht main .background section a{
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
    margin-left: 1em;
}

.overzicht main .background section h1{
    color: #fff;
    font-weight: 300;
    font-size: 3.125rem;
}

.overzicht main form{
    display: flex;
    align-items: baseline;
    margin-top: 1.5em;
    padding: 0 2em;
}

.overzicht main form select{
    height: 2rem;
    margin-left: 0.5em;
}

.overzicht main form input{
    width: 20vw;
    margin-left: 1em;
}

.overzicht main form label{
    margin-left: auto;
}

section:nth-child(4){
    padding: 0;
    display: flex;
}

.overzicht main h2{
    display: block;
    width: 15em;
    height: 3.5em;
    color: #003082;
    font-weight: 400;
    line-height: 2em;
    padding-left: 1em;
    font-size: 1.875em;
    margin-top: 0.2em;
    margin-bottom: -1.6em;
    background-color: #E5B522;
}

section:nth-child(4) article{
    width: 32vw;
    height: 30rem;
    margin-left: 1em;
    margin-bottom: 2em;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: ease-out 1s;
    background-color: #fff;
}

section:nth-child(4) article:nth-child(1) a{
    color: #540168;
}


section:nth-child(4) article:nth-child(2) a{
    color: #079999;
}

section:nth-child(4) article:nth-child(3) a{
    color: #000;
}

section:nth-child(4) article h3{
    margin: 1em;
    font-size: 2em;
    z-index: 200;
    position: relative;
    color: #fff;
}

section:nth-child(4) article p{
    margin: 7em 4em 0 4em;
    font-size: 1.4em;
    height: 30%;
}

section:nth-child(4) article a{
    margin-left: 4em;
    font-size: 2em;
    font-weight: 400;
}

section:nth-child(4) article .genre img{
    max-width: 100%;
}

section:nth-child(4) article .genre{
    width: 4em;
    padding: 1em;
    margin-left: 27vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    float: right;
    z-index: 100;
}


section:nth-child(4) article span{
    color: #fff;
    float: right;
    font-size: 1.5em;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

section article{
    background-position: 0 -10em;
}

section article:first-child{
    background-image: url("../img/droom.jpg");
}

section article:nth-child(2){
    background-image: url("../img/paranoia.jpg");
    background-position: 0 -9em;
}

section article:nth-child(3){
    background-image: url("../img/vrijdag.jpg");
    background-position: 0 -11.5em;
}

section article > div:first-child{
    position: absolute;
    width: 32vw;
    height: 23vh;
}

section article:first-child > div:first-child{
    background-color: rgba(177, 112, 193, 0.6);
}

section article:nth-child(2) > div:first-child{
    background-color: rgba(119, 205, 213, 0.6);
}

section article:nth-child(3) > div:first-child{
    background-color: rgba(67, 66, 66, 0.6);
}

/*article width when round 1200px = width: 23.188rem;*/

/*------------------------------------*\
  #LIJST
\*------------------------------------*/
.lijst main h2{
    display: block;
    color: #003082;
    font-weight: 400;
    padding-left: 1em;
    font-size: 1.875em;
    padding: 1em;
    width: 11.5em;
    background-color: #E5B522;
}

.lijst main .background{
    height:24em;
    background-size: 100%;
    background-repeat:no-repeat;
    background-image: url("../img/bg.jpg");
}

.lijst main .background section{
    height:24em;
    text-align: center;
    background-color: rgba(43, 119, 189, 0.7);
    transition: all 0.5s;
}

.lijst main .background section select{
    width: 20%;
    height: 4rem;
    padding: 0.5em;
    font-weight: 300;
    font-size: 150%;
    margin-top: 2.5em;
}

.lijst main .background section a{
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
    margin-left: 1em;
}

.lijst main .background section h1{
    color: #fff;
    font-weight: 300;
    font-size: 3.125rem;
}

.lijst section ul{
    list-style: none;
    width: 18vw;
    text-align: center;
}

.lijst section ul input{
    display: none;
    margin-top: 1em;
}

.lijst section ul li{
    padding: 1.5em;
    cursor: pointer;
    font-weight: 700;
    color: #2b77bd;
}

.lijst section ul li:nth-child(3){
    color: #000;
    background-color: #fff;
    border-bottom: #7b7c7d 3px solid;
    transition: all 2s;
}

.lijst section button{
    display: none;
    margin-bottom: 1em;
}

.downloaded {
    border-bottom: #E5B522 3px solid!important;
}

.lijst article{
    background-color: lightgrey;
    width: 25vw;
    height: 25vh;
    margin: -13em 0em 0em 25em;
    padding: 1.5em;
    transition: all 0.5s;
}

.lijst article h2{
    margin-bottom: 1em;
    font-size: 2em;
    z-index: 200;
    position: relative;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.lijst article button{
    margin-top: 2.2vh;
    margin-left: 0em;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0;
    display: inline-block;
}

.lijst button.ongedaan{
    opacity: 0.6;
    visibility: hidden;
    margin-left: 6em;
}

.lijst .weggooien{
    opacity: 0;
    transform: translateY(-20em);
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 85px;
  height: 35px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #ffc915;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #fedd6e;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

.switch{
    margin-left: 25em;
    float: left;
}

.switch p{
    margin-top: -1.8em;
    margin-left: 6em;
    color: #cfa12b;
    font-weight: 700;
}
/*------------------------------------*\
  #FORMS
\*------------------------------------*/
.inlog form{
    width: 40%;
    background-color: #ffc917;
    padding: 2em;
    margin: 0 auto;
}

.inlog .bedankt{
    width: 25%;
    background-color: #ffc917;
    padding: 2em;
    margin: 0 auto;
}

.inlog{
    display: flex;
    width: 100%;
    margin-top: 5em;
}

.inlog section{
    width: 50vw;
    font-size: 1.5em;
    line-height: 3em;
    font-weight: 300;
}

a{
    font-weight: 600;
    color: #2B77BD;
    text-decoration: none;
}

legend{
    font-size: 2em;
    margin-bottom: 1em;
}

fieldset{
    border: none;
}

input{
    height: 3em;
    padding: 1em;
    width: 100%;
    margin-bottom: 1em;
}

.btn{
    height: 3em;
    padding: 1em;
    width: 100%;
    margin-bottom: 1em;
    color: #fff;
    background-color: #2B77BD;
    font-size: 1em;
}

article > button{
    margin-top: 5em;
    margin-left: -14em;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0;
    position: absolute;
}

article > button.ongedaan{
    opacity: 0.6;
    visibility: hidden;
    margin-left: -8em;
}

/*------------------------------------*\
    #STORIES
\*------------------------------------*/
main > article{
    margin: 0 auto;
    width: 100%;
}

article > span.story{
    color: #fff;
    width: 12rem;
    padding: 2rem;
    position: fixed;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
}

span.story ~ a{
    background-color: #fff;
    color: #000;
    padding: 1rem;
    font-size: 2em;
    position: fixed;
    margin-left: 90vw;
    margin-top: 2vh;
}

.paranoia{
    margin: 0 auto;
    width: 100%;
    height: 110vh;
    background: url('../img/verhalen/paranoia-xl.png');
    background-position: center;
    background-repeat: no-repeat;
}

.droom{
    margin: 0 auto;
    width: 100%;
    height: 160vh;
    background: url('../img/verhalen/droom-xl.png');
    background-position: center;
    background-repeat: no-repeat;
}

.vrijdag{
    margin: 0 auto;
    width: 100%;
    height: 120vh;
    background: url('../img/verhalen/vrijdag-xl.png');
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width:7rem) and (max-width:62.4rem) {
.paranoia{
    height: 490vh;
    background: url('../img/verhalen/paranoia-s.png');
    background-position: center;
    background-repeat: no-repeat;
}

.droom{
    height: 115vh;
    background: url('../img/verhalen/droom-s.png');
    background-position: center;
    background-repeat: no-repeat;
}

.vrijdag{
    height: 350vh;
    background: url('../img/verhalen/vrijdag-s.png');
    background-position: center;
    background-repeat: no-repeat;
}
}

@media (min-width:62.5rem) and (max-width:93.74rem) {
.paranoia{
    height: 280vh;
    background: url('../img/verhalen/paranoia-m.png');
    background-position: center;
    background-repeat: no-repeat;
}

.droom{
    height: 140vh;
    background: url('../img/verhalen/droom-m.png');
    background-position: center;
    background-repeat: no-repeat;
}

.vrijdag{
    height: 290vh;
    background: url('../img/verhalen/vrijdag-m.png');
    background-position: center;
    background-repeat: no-repeat;
}
}


@media (min-width:93.75rem) and (max-width:100rem)   {
.paranoia{
    height: 190vh;
    background: url('../img/verhalen/paranoia-l.png');
    background-position: center;
    background-repeat: no-repeat;
}

.droom{
    height: 120vh;
    background: url('../img/verhalen/droom-l.png');
    background-position: center;
    background-repeat: no-repeat;
}

.vrijdag{
    height: 200vh;
    background: url('../img/verhalen/vrijdag-l.png');
    background-position: center;
    background-repeat: no-repeat;
}
}

/*------------------------------------*\
  #MEDIAQUERIES
\*------------------------------------*/
@media (min-width: 7rem) and (max-width: 50rem) {
    /*------------------------------------*\
        #S-OVERZICHT
    \*------------------------------------*/
    .overzicht main h2{
        font-size: 1.5em;
    }

    section:nth-child(4){
        flex-wrap: wrap;
    }

    section:nth-child(4) article{
        width: 91.5vw;
    }

    .overzicht main .background select, .overzicht main .background a{
        display: none;
    }

    .overzicht main .background, .overzicht main .background section{
        height: 15vh;
    }

    .overzicht main .background section h1{
        font-size: 2em;
        line-height: 2em;
    }

    .overzicht main form{
        margin: 1em;
        padding: 0;
        flex-wrap: wrap;
    }

    .overzicht main form label{
        margin-left: 2em;
        margin-top: 1em;
    }

    section:nth-child(4) article .genre{
        margin-left: 70vw;
    }

    section:nth-child(4) article p{
        margin: 1em;
        font-size: 1.4em;
    }

    section:nth-child(4) article span{
        width: 8rem;
        font-size: 1.5rem;
    }

    section article > div:first-child {
        width: 91.5vw;
        height: 15.4vh;
    }

    section:nth-child(4) article p {
        margin: 3em;
    }

    section:nth-child(4) article a {
        margin-left: 3em;
    }

    article > button {
        margin-top: 6em;
        margin-left: -11em;
    }

    section article {
        background-position: 0 -17em;
    }

    section article:nth-child(2) {
        background-position: 0 -16em;
    }

    section article:nth-child(3) {
        background-position: 0 -18.9em;
    }

    section:nth-child(4) article p {
        margin: 5em 1em 2em 1em;
    }


    /*------------------------------------*\
        #S-INLOG
    \*------------------------------------*/
    .inlog{
        flex-wrap: wrap;
        margin: 0;
    }

    .inlog form{
        width: 100%;
    }

    .inlog section{
        width: 100vw;
        font-size: 1.3em;
        line-height: 2em;
    }

    .inlog .bedankt{
        margin:1em ;
        width: 100%;
    }

    /*------------------------------------*\
        #s-MICRO
    \*------------------------------------*/
    .lijst article {
        margin: 0;
        width: 100%;
    }

    .lijst main .background {
        height: auto;
    }

    .lijst main .background section {
        height: 27.5vh;
    }

    .lijst section ul {
        width: 100%;
    }

    .switch{
        margin: 1em 0 0 0;
        float: none;
    }

}


@media (min-width: 50rem) and (max-width: 90rem)  {
    /*------------------------------------*\
        #M-OVERZICHT
    \*------------------------------------*/
    main{
        display: flex;
        padding-top: 5vh;
    }

    header{
        position: fixed;
        z-index: 10000;
    }

    .overzicht main form select {
        height: 2rem;
        margin-left: 0.5em;
    }

    .overzicht main h2, .overzicht .lijst h2{
        font-size: 1.5em;
        width: 100vw;
        height: 4rem;
        line-height: 4rem;
        padding-left: 45vw;
        margin-top: 2vh;
    }

    section:nth-child(4){
        display: block;
    }

    section:nth-child(4) article{
        margin-left: -30em;
        width: 54vw;
        font-size: 0.9em;
    }

    section:nth-child(4) article:first-child{
        margin-top: 15em;
    }

    .overzicht main .background select, .overzicht main .background a{
        display: none;
    }

    .overzicht main .background{
        background-size: 300%;
        background-position: center top;
    }

    .overzicht main .background, .overzicht main .background section{
        height: 95vh;
        width: 40vw;
        top:5vh;
        position: fixed;
    }

    .overzicht main .background section h1{
        font-size: 2em;
        line-height: 2em;
    }

    .overzicht main form{
        padding: 0;
        display: block;
        position: absolute;
        width: 50%;
        margin-left: 45vw;
        margin-top: 7rem;
    }

    .overzicht main form input{
        margin-top: 1em;
    }

    section:nth-child(4) article .genre{
        margin-left: 44vw;
    }

    section:nth-child(4) article p{
        margin: 1em;
        padding: 1em;
        font-size: 1.4em;
    }

    section:nth-child(4) article h3{
        padding-top: 0.5em;
    }

    section:nth-child(4) article span{
        width: 6rem;
        font-size: 1.2rem;
        margin-top: 6vh;
        padding: 0.7rem;
    }

    section article > div:first-child {
        width: 54vw;
    }

    section article {
        background-position: 0 -18em;
    }

    section article:nth-child(2) {
        background-position: 0 -16.5em;
    }

    section article:nth-child(3) {
        background-position: 0 -20.1em;
    }

    section:nth-child(4) article p {
        margin: 8em 1em 0 1em;
    }

    article > button {
        margin-left: -12em;
    }

    /*------------------------------------*\
        #M-LOGIN
    \*------------------------------------*/
    .inlog{
        margin: 0;
    }

    .inlog form{
        width: 40%;
    }

    .inlog section{
        width: 60vw;
        font-size: 1.2em;
        line-height: 2em;
    }

    .inlog .bedankt{
        padding-top:5em ;
        width: 50%;
    }

    /*------------------------------------*\
        #M-MICRO
    \*------------------------------------*/
    .lijst article {
        margin: -13em 0em 0em 23em;
        width: 30vw;
        height: 28vh;
    }

    .lijst main .background section {
        height: 95vh;
        text-align: center;
        background-color: rgba(43, 119, 189, 0.7);
        transition: all 0.5s;
    }

    .lijst section ul {
        width: 22em;
    }

    /*------------------------------------*\
        #STORIES
    \*------------------------------------*/

    article.paranoia{
        background: url('../img/verhalen/paranoia-l.png');
    }
}




